@charset "UTF-8";

body{
    background-color: rgb(147, 196, 70);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}
h1{
    color: maroon;
    background-color: rgb(21, 155, 110);
}
h1#principal {
    background-color: blueviolet;
    text-align: center;
}
h2{
    color: rgb(160, 12, 12);
}
.basico{
    color: rgb(208, 227, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.intermediario{
    color: blue;
}
.avancado{
    color: black;
}
h3{
    color: rgb(194, 75, 75);
}
main{
    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}
p{
    text-align: justify;
}