@charset "UTF-8"

head {}
body {
    background-color: rgb(207, 207, 141);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: rgb(9, 9, 58);
    background-color: lime;
}
h2 {
    color: rgb(115, 54, 165);
}
p {
    text-align: justify;
}